mat-form-field {
    width: 60%;
    margin-bottom: 20px; 
}
  
.custom-button {
    background-color: rgb(8, 138, 95);
  
}
  
.buttons{
    display: flex;
    justify-content: center;
    gap: 10px;
}
