<div class="container">
  <h1>Lista de Comentarios</h1>

  <!-- Barra de búsqueda -->
  <div class="search-bar">
    <div class="search-label">Buscar comentario por contenido</div>
    <mat-form-field appearance="fill" class="search-input">
      <input matInput placeholder="Ingresar comentario" [(ngModel)]="filterValue" />
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="applyFilter()">
      Buscar
    </button>
  </div>

  <!-- Sección para agregar un nuevo comentario -->
  <div class="add-role-container">
    <p>¿Deseas agregar un nuevo comentario? Haz click aquí:</p>
    <button mat-fab extended color="primary" [routerLink]="['nuevo']">
      <mat-icon>add_circle</mat-icon> Agregar Comentario
    </button>
  </div>

  <!-- Verificar si la tabla está vacía -->
  <div *ngIf="dataSource.filteredData.length === 0" style="text-align: center; margin-top: 2rem;">
    <p style="font-size: 1.2rem; color: #e74c3c; font-weight: bold;">No hay datos registrados.</p>
  </div>

  <!-- Grid de Tarjetas de Comentarios -->
  <div class="cards-grid" *ngIf="dataSource.filteredData.length > 0">
    <div *ngFor="let element of dataSource.filteredData" class="card">
      <div class="card-header">
        <span>Me Gustas: {{ element.likes }}</span>
      </div>
      <div class="card-content">
        <p><strong>Contenido:</strong> {{ element.contenido }}</p>
        <p><strong>Fecha Publicada:</strong> {{ element.fecha_publicada }}</p>
        <p><strong>Usuario:</strong> {{ element.us.username }}</p>
        <p><strong>Estilo:</strong> {{ element.et.nombreEstilo }}</p>
      </div>
      <div class="card-footer">
        <mat-icon class="card-action-button" (click)="eliminar(element.idComentario)">
          delete
        </mat-icon>
        <button mat-raised-button class="update-btn" [routerLink]="['ediciones', element.idComentario]">
          <mat-icon>edit</mat-icon> Actualizar
        </button>
      </div>
    </div>
  </div>
</div>
