<div class="princ">
  <!-- Video de fondo -->
  <video autoplay muted loop class="background-video">
    <source
      src="../../../../assets/3998510-uhd_4096_2160_25fps.mp4"
      type="video/mp4"
    />
    Tu navegador no soporta video.
  </video>

  <!-- Contenido principal -->
  <div class="content-overlay">
    <div class="Page">
      <img
        src="../../../../assets/headerlogo.png"
        alt="StyleCheck"
        class="main-img"
      />
    </div>
    <div class="Page_2">
      <h1 class="main-title">Descubre tu mejor versión</h1>
      <p class="intro-text">
        Renueva tu imagen con los estilos más innovadores del momento. Ya sea
        que busques un look atrevido o sofisticado, tenemos algo para ti. ¡Es
        momento de sorprenderte a ti mismo!
      </p>
      <p class="highlight-text">
        Sigue las últimas tendencias y marca tu propio estilo único.
      </p>
      <button
        class="cta-button"
        routerLink="/login"
      >
        Sube tu Foto
      </button>
    </div>
  </div>
</div>


<!-- Seccion de nuestros servicios -->
<h2>Nuestros Servicios</h2>
<div class="container-servicio">
    <div class="servicio">
      <div class="servicio-icono">
        <img src="../../../../assets/icono01.jpeg" alt="Ícono del Servicio 1" />
      </div>
      <div class="servicio-info">
        <h3>Asesoramiento Virtual de Estilo Personal</h3>
        <p>
          Plataforma en línea para probar virtualmente diferentes estilos de
          peinados y cortes basados en el perfil de rostro del usuario.
          Recomendaciones personalizadas de estilos de peinado y gafas según las
          características faciales del usuario.
        </p>
      </div>
    </div>
    <div class="servicio">
      <div class="servicio-icono">
        <img src="../../../../assets/icono02.avif" alt="Ícono del Servicio 2" />
      </div>
      <div class="servicio-info">
        <h3>Herramientas Interactivas de Visualización</h3>
        <p>
          Herramientas interactivas que permiten a los usuarios cargar una foto
          de su rostro y aplicar virtualmente diferentes estilos de peinados.
          Visualización en tiempo real de cómo lucirían diferentes opciones de
          cambio de apariencia.
        </p>
      </div>
    </div>
    <div class="servicio">
      <div class="servicio-icono">
        <img src="../../../../assets/Icono03.png" alt="Ícono del Servicio 3" />
      </div>
      <div class="servicio-info">
        <h3>Planificación de Cambios de Imagen</h3>
        <p>
          Funcionalidad para planificar y guardar los estilos favoritos para
          futuras referencias. Recursos educativos sobre moda y estilos de
          peinados para ayudar a los usuarios a tomar decisiones informadas.
        </p>
      </div>
    </div>
    <div class="servicio">
      <div class="servicio-icono">
        <img src="../../../../assets/icono04.jpeg" alt="Ícono del Servicio 4" />
      </div>
      <div class="servicio-info">
        <h3>Acceso Inclusivo y Asequible</h3>
        <p>
          Modelos de suscripción y/o opciones gratuitas para asegurar que la
          plataforma sea accesible para todos. Promociones y descuentos para
          hacer los servicios más asequibles.
        </p>
      </div>
    </div>
    <div class="servicio">
      <div class="servicio-icono">
        <img src="../../../../assets/icono05.avif" alt="Ícono del Servicio 5" />
      </div>
      <div class="servicio-info">
        <h3>Servicio al Cliente y Soporte Personalizado</h3>
        <p>
          Soporte al cliente dedicado para resolver dudas y problemas
          relacionados con el uso de la plataforma. Actualizaciones periódicas
          de la plataforma basadas en comentarios de los usuarios para mejorar
          la experiencia.
        </p>
      </div>
    </div>
    <div class="servicio">
      <div class="servicio-icono">
        <img src="../../../../assets/icono06.jpeg" alt="Ícono del Servicio 6" />
      </div>
      <div class="servicio-info">
        <h3>Compromiso con la Innovación y la Tecnología</h3>
        <p>
          Continuo desarrollo y mejora de la tecnología de reconocimiento facial
          y simulación de estilos. Investigación y desarrollo de nuevas
          funcionalidades para mantenerse a la vanguardia de la tecnología en
          moda y estilo personal.
        </p>
      </div>
    </div>
  </div>
  <section class="questions container">
    <h2 class="subtitle">Preguntas frecuentes</h2> 
    <section class="questions__container">
      <article class="questions__padding">
        <div class="questions__answer">
          <h3 class="questions__title">
            ¿Cómo funciona el escaneo facial para sugerir peinados?
            <span class="questions__arrow">
              <img src="../../../../assets/x.svg" class="questions__img" />
            </span>
          </h3>
  
          <p class="questions__show">
            Nuestra aplicación utiliza tecnología avanzada de reconocimiento facial para analizar las características de tu rostro. Esto nos permite sugerir peinados que complementan la forma y proporciones de tu cara. El escaneo es rápido y preciso, asegurando que las sugerencias se adapten a tu estilo único.
          </p>
        </div>
      </article>
  
      <article class="questions__padding">
        <div class="questions__answer">
          <h3 class="questions__title">
            ¿Es seguro subir mi foto a la aplicación?
            <span class="questions__arrow">
              <img src="../../../../assets/x.svg" class="questions__img" />
            </span>
          </h3>
  
          <p class="questions__show">
            Sí, la seguridad y privacidad de tus datos son nuestra prioridad. Las imágenes que subas se procesan de manera segura y no se almacenan en nuestros servidores a menos que lo autorices para guardar tu historial de estilos. Utilizamos protocolos de seguridad para proteger tu información.
          </p>
        </div>
      </article>
  
      <article class="questions__padding">
        <div class="questions__answer">
          <h3 class="questions__title">
            ¿Puedo probar diferentes estilos de peinado sin tener que cambiar mi cabello de verdad?
            <span class="questions__arrow">
              <img src="../../../../assets/x.svg" class="questions__img" />
            </span>
          </h3>
  
          <p class="questions__show">
            ¡Por supuesto! Nuestra aplicación te permite experimentar virtualmente con una amplia variedad de peinados y colores sin compromiso. Puedes ver cómo lucirías con cortes y estilos diferentes, todo desde la comodidad de tu teléfono, antes de tomar una decisión real sobre tu cabello.
          </p>
        </div>
      </article>
    </section>
  <!-- Sección Testimonios -->
  <h2>Testimonios</h2>
  <div class="container-testimonios">
    <!-- Testimonio 1 -->
    <div class="testimonio">
      <div class="testimonio-icono">
        <img src="../../../../assets/PERSONA1.avif" alt="testimonio-01" />
      </div>
      <div class="testimonio-info">
        <h3>Lizarbe, Martha Rosa</h3>
        <div class="estrellas">
          <span class="estrella estrella-llena">&#9733;</span>
          <span class="estrella estrella-llena">&#9733;</span>
          <span class="estrella estrella-llena">&#9733;</span>
          <span class="estrella estrella-llena">&#9733;</span>
          <span class="estrella estrella-vacia">&#9733;</span>
        </div>
        <p>Universitaria</p>
        <p>20 años</p>
        <p>.</p>
        <p>
          El aplicativo es notablemente completo y bien desarrollado, cubriendo
          todas las necesidades fundamentales para los usuarios que buscan
          mejorar su apariencia. Cada sección del aplicativo ha sido diseñada
          con cuidado y atención al detalle, lo que se refleja en la facilidad
          de uso y la experiencia positiva de los usuarios. El diseño intuitivo
          permite a los usuarios navegar sin esfuerzo a través de las diferentes
          funcionalidades, haciendo que la interacción con la plataforma sea
          agradable y eficiente. Además, la integración de tecnologías avanzadas
          como el escaneo facial y la inteligencia artificial añade un nivel de
          sofisticación que distingue a esta plataforma de otras soluciones en
          el mercado.
        </p>
      </div>
    </div>
    
    <!-- Testimonio 2 -->
    <div class="testimonio">
      <div class="testimonio-icono">
        <img src="../../../../assets/PERSONA3.webp" alt="testimonio-02" />
      </div>
      <div class="testimonio-info">
        <h3>Rodríguez, Claudia Isabel</h3>
        <p class="info">(Diseñadora Gráfica - 22 anios)</p>
        <div class="estrellas">
          <span class="estrella estrella-llena">&#9733;</span>
          <span class="estrella estrella-llena">&#9733;</span>
          <span class="estrella estrella-llena">&#9733;</span>
          <span class="estrella estrella-llena">&#9733;</span>
          <span class="estrella estrella-vacia">&#9733;</span>
        </div>
        <br />
        <p>
          Desde que empecé a usar el aplicativo, he notado una gran diferencia
          en mi rutina de cuidado personal. La interfaz es increíblemente fácil
          de usar y me permite acceder a diversas herramientas de estilismo en
          un solo lugar. Me encanta cómo el escaneo facial sugiere cortes y
          peinados que se adaptan a mi rostro, lo que hace que el proceso de
          selección sea mucho más divertido. Además, la opción de guardar mis
          estilos favoritos me ayuda a tener todo organizado y a la mano.
          ¡Definitivamente recomendaría esta plataforma a cualquiera que busque
          una forma sencilla y eficaz de mejorar su apariencia
        </p>
      </div>
    </div>

    <!-- Testimonio 3 -->
    <div class="testimonio">
      <div class="testimonio-icono">
        <img src="../../../../assets/PERSONA2.webp" alt="testimonio-03" />
      </div>
      <div class="testimonio-info">
        <h3>Gómez, Luis Fernando</h3>
        <div class="estrellas">
          <span class="estrella estrella-llena">&#9733;</span>
          <span class="estrella estrella-llena">&#9733;</span>
          <span class="estrella estrella-llena">&#9733;</span>
          <span class="estrella estrella-llena">&#9733;</span>
          <span class="estrella estrella-vacia">&#9733;</span>
        </div>
        <p>Ingeniero de Software</p>
        <p>25 años</p>
        <p>.</p>
        <p>
          El aplicativo ha superado mis expectativas. No solo es visualmente
          atractivo, sino que también es altamente funcional. La combinación de
          inteligencia artificial y escaneo facial ofrece una experiencia
          personalizada que nunca había visto antes. Cada vez que utilizo la
          app, me siento como si tuviera un estilista personal a mi disposición.
          También valoro mucho la atención al detalle en cada sección, desde las
          recomendaciones hasta la facilidad de navegación. Sin duda, es una
          herramienta imprescindible para cualquier persona que se tome en serio
          su estilo personal.
        </p>
      </div>
    </div>
    
    <!-- Testimonio 2 -->
    <div class="testimonio">
      <div class="testimonio-icono">
        <img src="../../../../assets/PERSONA3.webp" alt="testimonio-02" />
      </div>
      <div class="testimonio-info">
        <h3>Rodríguez, Claudia Isabel</h3>
        <p class="info">(Diseñadora Gráfica - 22 anios)</p>
        <div class="estrellas">
          <span class="estrella estrella-llena">&#9733;</span>
          <span class="estrella estrella-llena">&#9733;</span>
          <span class="estrella estrella-llena">&#9733;</span>
          <span class="estrella estrella-llena">&#9733;</span>
          <span class="estrella estrella-vacia">&#9733;</span>
        </div>
        <br />
        <p>
          Desde que empecé a usar el aplicativo, he notado una gran diferencia
          en mi rutina de cuidado personal. La interfaz es increíblemente fácil
          de usar y me permite acceder a diversas herramientas de estilismo en
          un solo lugar. Me encanta cómo el escaneo facial sugiere cortes y
          peinados que se adaptan a mi rostro, lo que hace que el proceso de
          selección sea mucho más divertido. Además, la opción de guardar mis
          estilos favoritos me ayuda a tener todo organizado y a la mano.
          ¡Definitivamente recomendaría esta plataforma a cualquiera que busque
          una forma sencilla y eficaz de mejorar su apariencia
        </p>
      </div>
    </div>
    
    <!-- Testimonio 3 -->
    <div class="testimonio">
      <div class="testimonio-icono">
        <img src="../../../../assets/PERSONA2.webp" alt="testimonio-03" />
      </div>
      <div class="testimonio-info">
        <h3>Gómez, Luis Fernando</h3>
        <div class="estrellas">
          <span class="estrella estrella-llena">&#9733;</span>
          <span class="estrella estrella-llena">&#9733;</span>
          <span class="estrella estrella-llena">&#9733;</span>
          <span class="estrella estrella-llena">&#9733;</span>
          <span class="estrella estrella-vacia">&#9733;</span>
        </div>
        <p>Ingeniero de Software</p>
        <p>25 años</p>
        <p>.</p>
        <p>
          El aplicativo ha superado mis expectativas. No solo es visualmente
          atractivo, sino que también es altamente funcional. La combinación de
          inteligencia artificial y escaneo facial ofrece una experiencia
          personalizada que nunca había visto antes. Cada vez que utilizo la
          app, me siento como si tuviera un estilista personal a mi disposición.
          También valoro mucho la atención al detalle en cada sección, desde las
          recomendaciones hasta la facilidad de navegación. Sin duda, es una
          herramienta imprescindible para cualquier persona que se tome en serio
          su estilo personal.
        </p>
      </div>
    </div>
  </div>
