
.container {
  max-width: 90%;
  margin: 2% auto;
  background-color: #f4f4f9;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.6s ease-out;
}


h1 {
  font-family: "Roboto condensed", serif;
  color: #000000;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 2rem;
  animation: slideDown 1s ease-out;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.search-bar {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
  animation: fadeIn 1s ease-out;
}

.search-label {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #34495e;
  text-align: center;
}

mat-form-field {
  flex: 1;
}


button[mat-raised-button] {
  background-color: #1abc9c;
  color: #fff;
  font-weight: bold;
  transition: transform 0.3s ease, background-color 0.3s ease;
  border-radius: 30px;
}

button[mat-raised-button]:hover {
  background-color: #16a085;
  transform: scale(1.05);
}


.add-style-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  padding: 1rem;
  background-color: #e8f6f3;
  border-radius: 5px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s ease-out;
}

.add-style-container p {
  margin: 0;
  margin-right: 1rem;
  color: #34495e;
  font-size: 1rem;
  font-weight: 500;
}


button[mat-fab] {
  background-color: #1abc9c;
  color: #fff;
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

button[mat-fab]:hover {
  background-color: #16a085;
  transform: scale(1.1);
}


.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem;
  margin-top: 2rem;
}


.card {
  background-color: #fff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}


.card-header {
  font-size: 1.2rem;
  font-weight: bold;
  color: #34495e;
  margin-bottom: 1rem;
  text-align: center;
}


.card-content {
  padding: 0.5rem 0;
}

.card-content p {
  font-size: 1rem;
  color: #7f8c8d;
  margin-bottom: 0.5rem;
}


.card-content .card-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
  object-fit: cover;
  max-height: 300px;
  margin-bottom: 1rem;
}


.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-action-button {
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
}

.card-action-button:hover {
  color: #1abc9c;
  transform: scale(1.2);
}