<div class="container">
  <!-- Título -->
  <div style="text-align: center; margin-bottom: 2rem">
    <h1>Lista de Items de Usuario</h1>
  </div>

  <!-- Barra de búsqueda -->
  <div class="search-bar" style="text-align: center; margin-bottom: 2rem">
    <div
      class="search-label"
      style="font-size: 1.2rem; font-weight: bold; margin-bottom: 1rem"
    >
      Buscar item por nombre
    </div>

    <mat-form-field appearance="fill" class="search-input" style="width: 80%">
      <input matInput placeholder="Ingresar item" [(ngModel)]="filterValue" />
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="applyFilter()">
      Buscar
    </button>
  </div>

  <!-- Contenedor para agregar item -->
  <div class="add-style-container">
    <p>¿Deseas agregar un nuevo item? Haz click aquí:</p>
    <button mat-fab extended color="primary" [routerLink]="['nuevo']">
      <mat-icon>add_circle</mat-icon> Agregar Item
    </button>
  </div>

  <!-- Verificar si no hay datos -->
  <div
    *ngIf="filteredItemUsuario.length === 0"
    style="text-align: center; margin-top: 2rem"
  >
    <p style="font-size: 1.2rem; color: #e74c3c; font-weight: bold">
      No hay datos registrados.
    </p>
  </div>

  <div class="cards-grid" *ngIf="filteredItemUsuario.length > 0">
    <div *ngFor="let element of filteredItemUsuario" class="card">
      <div class="card-header">
        <p>{{ element.it.nombreItem }}</p>
        <div class="card-content">
          <img
            [src]="element.it.imagen"
            alt="Imagen del item"
            class="card-image"
          />
          <p><strong>Usuario:</strong> {{ element.us.username }}</p>
          <p><strong>Calificación: </strong> {{ element.calificacion }}</p>
          <p>
            <strong>Fecha de favorito: </strong>
            <span
            [ngStyle]="{
              color: element.fechaItemFavorito ? 'magenta' : 'gray'
            }"
            style="display: inline-flex; align-items: center"
          >
            {{
              element.fechaItemFavorito ? element.fechaItemFavorito : 'No favorito'
            }}
            <mat-icon
              *ngIf="element.fechaItemFavorito"
              style="color: yellow; margin-left: 5px"
            >
              star
            </mat-icon>
          </span>
          </p>
        </div>

        <div class="card-footer">
          <mat-icon
            class="card-action-button"
            (click)="eliminar(element.idItemUsuario)"
          >
            delete
          </mat-icon>
          <button
            mat-raised-button
            class="update-btn"
            [routerLink]="['ediciones', element.idItemUsuario]"
          >
            <mat-icon>edit</mat-icon> Actualizar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
