
@media (max-width: 768px) {
  .chart-container {
    width: 60%;
    padding: 15px;
  }
}
.no-data-message {
  text-align: center;
  font-size: 18px;
  color: #95A5A6;
  margin-top: 20px;
  font-weight: bold;
}


