<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>Acerca de Nosotros</h2>
    <section class="seccion-nosotros">
      <div class="container-nosotros">
        <div class="nosotros-content">
          <div class="text-content">
            <h2>Nosotros</h2>
            <p>
              A través de una plataforma en línea, permitiremos probar
              virtualmente diferentes estilos de peinados y cortes de cabello
              basados en su perfil facial, ofreciendo una experiencia
              personalizada y asequible.
            </p>
          </div>
          <div class="image-content">
            <img src="../../../../assets/nosotross.webp" alt="Nosotros" />
          </div>
        </div>

        <div class="nosotros-content">
          <div class="image-content">
            <img src="../../../../assets/misionn.webp" alt="Misión" />
          </div>
          <div class="text-content">
            <h2>Misión</h2>
            <p>
              Nos esforzamos por ofrecer una experiencia inclusiva y
              personalizada, donde la tecnología y la moda se unen para ayudar a
              las personas a sentirse seguras y satisfechas con su apariencia.
            </p>
          </div>
        </div>

        <div class="nosotros-content">
          <div class="text-content">
            <h2>Valores</h2>
            <p>
              Nos esforzamos por ser líderes en la industria, impulsando el
              cambio positivo y la inclusión en el mundo de la moda y el estilo
              personal. Aspiramos a ser un catalizador para la creatividad y la
              expresión personal, inspirando a las personas a transformar su
              apariencia y mejorar su autoestima.
            </p>
          </div>
          <div class="image-content">
            <img src="../../../../assets/valoress.webp" alt="Valores" />
          </div>
        </div>
      </div>
    </section>
    <h2 id="title-desarrolladores">Desarrolladores</h2>
    <section id="desarrolladores">
      <div class="container">
        <!-- Card Jesús -->
        <div class="card">
          <div class="card-inner">
            <div class="card-front">
              <img
                src="../../../../assets/Jesus.png"
                alt="Imagen de Jesús Alessandro Contreras"
              />
            </div>
            <div class="card-back">
              <p>
                Desarrollador con experiencia en C++, C#, Java, HTML y CSS.
                Capaz de crear soluciones eficientes tanto en entornos backend
                como frontend.
              </p>
            </div>
          </div>
          <p class="card-name">Contreras Cucho, Jesús Alessandro</p>
          <p class="card-role">(Product Owner)</p>
        </div>

        <!-- Card Guido -->
        <div class="card">
          <div class="card-inner">
            <div class="card-front">
              <img
                src="../../../../assets/Guido.png"
                alt="Imagen de Guido Joel Navarro"
              />
            </div>
            <div class="card-back">
              <p>
                Habilidades en desarrollo con C++, Python, C#, SQL y Java.
                Experiencia en la creación de aplicaciones robustas y
                optimización de bases de datos.
              </p>
            </div>
          </div>
          <p class="card-name">Navarro Vasquez, Guido Joel</p>
          <p class="card-role">(Software Developer)</p>
        </div>

        <!-- Card Verónica -->
        <div class="card">
          <div class="card-inner">
            <div class="card-front">
              <img
                src="../../../../assets/veronica.jpeg"
                alt="Imagen de Veronica Ruth Mendoza"
              />
            </div>
            <div class="card-back">
              <p>
                Conocimientos básicos en C++ y metodología Scrum. Autodidacta
                con capacidad para adquirir rápidamente nuevas habilidades
                técnicas y aplicarlas en entornos colaborativos.
              </p>
            </div>
          </div>
          <p class="card-name">Mendoza Hanco, Veronica Ruth</p>
          <p class="card-role">(Team Scrum)</p>
        </div>

        <!-- Card Denzell -->
        <div class="card">
          <div class="card-inner">
            <div class="card-front">
              <img
                src="../../../../assets/Denzell.png"
                alt="Imagen de Denzell José Luis Blas Mauricio"
              />
            </div>
            <div class="card-back">
              <p>
                Conocimientos sólidos en C++, C# y Python. Experiencia
                trabajando en equipo con la metodología Scrum, destacando en
                pensamiento crítico y organización para el desarrollo de
                proyectos.
              </p>
            </div>
          </div>
          <p class="card-name">Blas Mauricio, Denzell José Luis</p>
          <p class="card-role">(Team Scrum)</p>
        </div>

        <!-- Card Miguel -->
        <div class="card">
          <div class="card-inner">
            <div class="card-front">
              <img
                src="../../../../assets/Miguel.png"
                alt="Imagen de Miguel Angel Junior Auccapiña"
              />
            </div>
            <div class="card-back">
              <p>
                Experiencia en C++, JavaScript y Python. Capacidad de liderazgo
                en equipos de trabajo bajo la metodología Scrum, con enfoque en
                el análisis crítico y la toma de decisiones en proyectos.
              </p>
            </div>
          </div>
          <p class="card-name">Auccapiña Ccorimanya, Miguel Angel Junior</p>
          <p class="card-role">(Team Scrum)</p>
        </div>
      </div>
    </section>
    <div class="content">
      <h1 class="logo">Contactanos</h1>
      <div class="contact-wrapper animated bounceInUp">
        <div class="contact-form">
          <h3>Dejanos conocerte</h3>
          <form
            action="https://formsubmit.co/254f9924d33b5ae04214f147662282dd"
            method="POST"
          >
            <p>
              <label for="fullname">Nombre completo</label>
              <input type="text" name="fullname" id="fullname" required />
            </p>
            <p>
              <label for="email">Email</label>
              <input type="email" name="email" id="email" required />
            </p>
            <p>
              <label for="phone">Number de celular</label>
              <input type="tel" name="phone" id="phone" required />
            </p>
            <p>
              <label for="subject">Asunto</label>
              <input type="text" name="subject" id="subject" required />
            </p>
            <p class="block">
              <label for="message">mensaje</label>
              <textarea
                name="message"
                rows="3"
                id="message"
                required
              ></textarea>
            </p>
            <p class="block">
              <input class="input-s" type="submit" value="Enviar" />
              <input
                type="hidden"
                name="_next"
                value="http://localhost:4200/"
              />
              <input type="hidden" name="_captcha" value="false" />
            </p>
          </form>
        </div>
        <div class="contact-info">
          <h4>Mas informacion en</h4>
          <ul>
            <li><i class="fas fa-map-marker-alt"></i> Baker Street</li>
            <li><i class="fas fa-phone"></i> (+51) 136 152 146</li>
            <li><i class="fas fa-envelope-open-text"></i> StyleCheck.com</li>
          </ul>
          <p>
            ¿Dudas sobre qué estilo elegir?<br /><br />¡Estamos para
            ayudarte!<br /><br />
            Si necesitas orientación sobre la app o quieres descubrir tu mejor
            look, contáctanos. ¡Nuestro equipo está listo para asesorarte!.
            <br /><br />
            ¿Listo para transformar tu estilo?<br /><br />
            Cuéntanos tu pregunta o comentario, y nos pondremos en contacto
            contigo en breve.
          </p>
          <p>StyleCheck.com</p>
        </div>
      </div>
    </div>
  </body>
</html>
