<div class="container" style="text-align: center">
  <div style="margin: 5%">
    <h1>Registro de Comentarios</h1>
  </div>
  <div>
    <form [formGroup]="form" (submit)="insertar()">
      <!-- Primera fila de formulario (columna 1 y columna 2) -->
      <div class="form-row">
        <div class="form-column">
          <mat-form-field class="example-full-width" *ngIf="edicion">
            <mat-label>Código</mat-label>
            <input matInput formControlName="hcodigo" />
          </mat-form-field>
        </div>
        <div class="form-column">
          <mat-form-field class="example-full-width">
            <mat-label>Contenido</mat-label>
            <input
              matInput
              placeholder="Ingresar contenido"
              formControlName="hcontenido"
            />
            <mat-error *ngIf="form.get('hcontenido')?.hasError('required')">
              Ingrese el Contenido
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <!-- Segunda fila de formulario -->
      <div class="form-row">
        <div class="form-column">
          <mat-form-field class="example-full-width">
            <mat-label>Me Gustas</mat-label>
            <input
              matInput
              placeholder="10 Me Gustas"
              formControlName="hmegustas"
            />
            <mat-error *ngIf="form.get('hmegustas')?.hasError('required')">
              El campo es obligatorio
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-column">
          <mat-form-field>
            <mat-label>Fecha Publicada</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              formControlName="hfechapublicada"
            />
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="form.get('hfechapublicada')?.hasError('required')">
              La fecha es obligatoria
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <!-- Tercera fila de formulario -->
      <div class="form-row">
        <div class="form-column">
          <mat-form-field>
            <mat-label>Usuarios</mat-label>
            <mat-select formControlName="husuario">
              @for (food of listausuarios; track food) {
                <mat-option [value]="food.idUsuario">{{ food.username }}</mat-option>
              }
            </mat-select>
            <mat-error *ngIf="form.get('husuario')?.hasError('required')">
              Seleccione un Usuario
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-column">
          <mat-form-field>
            <mat-label>Estilos</mat-label>
            <mat-select formControlName="hestilo">
              @for (food of listaestilos; track food) {
                <mat-option [value]="food.idEstilo">{{ food.NombreEstilo }}</mat-option>
              }
            </mat-select>
            <mat-error *ngIf="form.get('hestilo')?.hasError('required')">
              Seleccione un Estilo
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <!-- Botones -->
      <div class="buttons">
        <button mat-flat-button class="custom-button" (click)="cancel()">
          Cancelar
        </button>
        <button mat-flat-button class="custom-button">Registrar</button>
      </div>
    </form>
  </div>
</div>
