
<div class="container" style="text-align: center">
  <div style="margin: 5% ;"><h1>Registro de Estilo</h1></div>
    <div>
      <form [formGroup]="form" (submit)="insertar()">
        <mat-form-field class="example-full-width" *ngIf="edicion">
          <mat-label>Código</mat-label>
          <input matInput formControlName="hcodigo" />

        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Rostro</mat-label>
            <mat-select  formControlName="hrostro">
              @for (food of listaRostro; track food) {
              <mat-option [value]="food.idRostro">{{ food.nombre }}</mat-option>
              }
            </mat-select>
            <mat-error *ngIf="form.get('hrostro')?.hasError('required')"
          >Seleccione un Rostro</mat-error
        >
        </mat-form-field>

        <br />
        <mat-form-field class="example-full-width">
            <mat-label>Item</mat-label>
            <mat-select  formControlName="hitem">
                @for (food of listaItem; track food) {
                <mat-option [value]="food.idItem">{{ food.nombreItem }}</mat-option>
                }
            </mat-select>
            <mat-error *ngIf="form.get('hitem')?.hasError('required')"
          >Seleccione un Item </mat-error
        >
        </mat-form-field>

        <br />
      <mat-form-field class="example-full-width">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="hnombre" />
        <mat-error *ngIf="form.get('hnombre')?.hasError('required')"
          >Ingrese un Nombre </mat-error
        >
      </mat-form-field>
       
        <br />
      <mat-form-field class="example-full-width">
        <mat-label>Color</mat-label>
        <input matInput formControlName="hcolor" />
        <mat-error *ngIf="form.get('hcolor')?.hasError('required')"
        >Ingrese un Color </mat-error
      >
      </mat-form-field>
      <br>

      <mat-form-field>
        <mat-label>Fecha de nacimiento</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="hfechacre" />
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="form.get('hfechacre')?.hasError('required')"
          >Ingrese una fecha</mat-error
        >
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Imagen</mat-label>
        <input matInput formControlName="himagen" />
        <mat-error *ngIf="form.get('himagen')?.hasError('required')"
          >Ingrese una imagen </mat-error
        >
      </mat-form-field>

      <div class="buttons">
        <button mat-flat-button class="custom-button" (click)="cancel()"> Cancelar</button>
        <button mat-flat-button class="custom-button">Registrar</button>
      </div>
      </form>
    </div>
  </div>