<div class="container">
  <!-- Título -->
  <div style="text-align: center; margin-bottom: 2rem">
    <h1>Lista de Estilos</h1>
  </div>

  <!-- Barra de búsqueda -->
  <div class="search-bar" style="text-align: center; margin-bottom: 2rem">
    <!-- Texto indicativo de la búsqueda -->
    <div
      class="search-label"
      style="font-size: 1.2rem; font-weight: bold; margin-bottom: 1rem"
    >
      Buscar estilo por nombre
    </div>

    <!-- Campo de búsqueda -->
    <mat-form-field appearance="fill" class="search-input" style="width: 80%">
      <input
        matInput
        placeholder="Ingresar estilo"
        [(ngModel)]="filterValue"
      />
    </mat-form-field>

    <!-- Botón de búsqueda -->
    <button mat-raised-button color="primary" (click)="applyFilter()">
      Buscar
    </button>
  </div>

  <!-- Contenedor para agregar estilo -->
  <div class="add-style-container">
    <p>¿Deseas agregar un nuevo estilo? Haz click aquí:</p>
    <button mat-fab extended color="primary" [routerLink]="['nuevo']">
      <mat-icon>add_circle</mat-icon> Agregar Estilo
    </button>
  </div>

  <!-- Tabla de estilos -->
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="c1">
      <th mat-header-cell *matHeaderCellDef>Código</th>
      <td mat-cell *matCellDef="let element">{{ element.idEstilo }}</td>
    </ng-container>

    <ng-container matColumnDef="c2">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let element">{{ element.nombreEstilo }}</td>
    </ng-container>

    <ng-container matColumnDef="c3">
      <th mat-header-cell *matHeaderCellDef>Rostro</th>
      <td mat-cell *matCellDef="let element">{{ element.ro.nombre }}</td>
    </ng-container>

    <ng-container matColumnDef="c4">
      <th mat-header-cell *matHeaderCellDef>Color</th>
      <td mat-cell *matCellDef="let element">{{ element.codigoColor }}</td>
    </ng-container>

    <ng-container matColumnDef="c5">
      <th mat-header-cell *matHeaderCellDef>Item</th>
      <td mat-cell *matCellDef="let element">{{ element.it.nombreItem }}</td>
    </ng-container>

    <ng-container matColumnDef="c6">
      <th mat-header-cell *matHeaderCellDef>Fecha Creado</th>
      <td mat-cell *matCellDef="let element">{{ element.fechaCreado }}</td>
    </ng-container>

    <ng-container matColumnDef="c7">
      <th mat-header-cell *matHeaderCellDef>Imagen</th>
      <td mat-cell *matCellDef="let element">{{ element.imagenEstilo }}</td>
    </ng-container>

    <ng-container matColumnDef="accion01">
      <th mat-header-cell *matHeaderCellDef>Eliminar</th>
      <td mat-cell *matCellDef="let element" (click)="eliminar(element.idEstilo)">
        <mat-icon style="color:rgb(8, 138, 95)">delete</mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="accion02">
      <th mat-header-cell *matHeaderCellDef>Actualizar</th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button [routerLink]="['ediciones', element.idEstilo]">
          <mat-icon style="color:rgb(8, 138, 95)">edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <!-- Paginador -->
  <mat-paginator
    [length]="100"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Seleccione página"
  ></mat-paginator>
</div>
