.container {
    position: relative;
    width: 100%;
    height: 100vh; /* Ocupa toda la altura de la ventana */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

.image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
    min-height: 100%;
    object-fit: cover; /* Asegura que la imagen cubra toda el área */
    opacity: 0.6;
}

.text {
    position: absolute;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.6); /* Fondo oscuro transparente */
    padding: 20px;
    border-radius: 8px;
    width: 80%; /* Asegura que el texto no sea demasiado grande */
    box-sizing: border-box;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    font-weight: bold;
}

p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.cta-btn {
    background-color: #46b0e5; /* Color atractivo */
    color: white;
    font-size: 1.1rem;
    padding: 12px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cta-btn:hover {
    background-color: #3498db; /* Color más oscuro al pasar el cursor */
}
