<div class="container" style="text-align: center; margin: 5%">
  <div><h1>Registro de Roles</h1></div>
  <div>
    <form [formGroup]="form" (submit)="insertar()">
      <mat-form-field class="example-full-width" *ngIf="edicion">
        <mat-label>Código</mat-label>
        <input matInput formControlName="hcodigo" />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Nombre</mat-label>
        <input
          matInput
          placeholder="Ingresar nombre"
          formControlName="hnombre"
        />
        <mat-error *ngIf="form.get('hnombre')?.hasError('required')"
        >Ingrese un Nombre </mat-error>
      </mat-form-field>

      <div class="buttons">
        <button mat-flat-button class="custom-button" (click)="cancel()">
          Cancelar
        </button>
        <button mat-flat-button class="custom-button">Registrar</button>
      </div>
    </form>
  </div>
</div>
