<div class="welcome-banner">
  <h1>¡Bienvenido, Administrador!</h1>
  <p>
    Explora las métricas y reportes del sistema para obtener información
    detallada.
  </p>
</div>
<div class="reporte-container1">
  <div class="reporte-item">
    <h1 class="reporte-titulo">Distribución de Usuarios por Edad y Sexo</h1>
    <app-reportecantidadusuariospor></app-reportecantidadusuariospor>
  </div>
  <div class="reporte-item">
    <h1 class="reporte-titulo">Porcentaje de Usuarios Registrados por Mes</h1>
    <app-porcentajeusuariospormes></app-porcentajeusuariospormes>
  </div>
  <div class="reporte-item">
    <h1 class="reporte-titulo">Porcentaje de Usuarios Por Genero</h1>
    <app-porcentajeusuariosporgenero></app-porcentajeusuariosporgenero>
  </div>
</div>

<div class="reporte-container2">
  <div class="reporte-item">
    <h1 class="reporte-titulo">Frecuencia de Usuarios por Paises</h1>
    <app-cantidadusuariosporpaises></app-cantidadusuariosporpaises>
  </div>
  <div class="reporte-item">
    <h1 class="reporte-titulo">Item Con Mayor Nro De Usos Entre Los Usuarios</h1>
    <app-itemmasusadoporusuario></app-itemmasusadoporusuario>
  </div>
  <div class="reporte-item">
    <h1 class="reporte-titulo">Estilo con Peor Calificación</h1>
    <app-reporteestilosconpeorcalificacion></app-reporteestilosconpeorcalificacion>
  </div>
</div>

<div class="reporte-container4">
  <div class="reporte-item">
    <h1 class="reporte-titulo">Cantidad De Estilos Usados Por Usuarios</h1>
    <app-cantidadestilosporusuario></app-cantidadestilosporusuario>
  </div>
  <div class="reporte-item">
    <h1 class="reporte-titulo"> Combinaciones Populares de Formas de Rostro y Colores de Estilo</h1>
    <app-popularidadcoloresestilo></app-popularidadcoloresestilo>
  </div>
  <div class="reporte-item">
    <h1 class="reporte-titulo">Ítems Más Usados por Usuarios</h1>
    <app-reporteitemspornrousos></app-reporteitemspornrousos>
  </div> 
  </div>

  <div class="reporte-container5">
  <div class="reporte-item">
    <h1 class="reporte-titulo">Cantidad de comentarios negativos según palabras claves</h1>
    <app-reportecantidadcomentariosnegativos></app-reportecantidadcomentariosnegativos>
  </div>
  <div class="reporte-item">
    <h1 class="reporte-titulo">Formas de Rostro Más Populares</h1>
    <app-reporterostrosegunforma></app-reporterostrosegunforma>
  </div>
</div>
