::ng-deep .cdk-overlay-backdrop {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
  }
  
  ::ng-deep .mat-dialog-container {
    background: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    animation: fadeInScale 0.4s ease-in-out;
    max-width: 400px;
    max-height: 80vh; 
    overflow-y: auto; 
    margin: auto;
  }
  
  @keyframes fadeInScale {
    from {
      opacity: 0;
      transform: scale(0.8);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  .dialog-title {
    color: #d32f2f;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    text-align: center;
    position: relative;
  }
  
  .dialog-title::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #d32f2f;
    margin: 10px auto;
    border-radius: 2px;
  }
  
  .dialog-content {
    font-size: 18px;
    color: #333;
    text-align: center;
    margin: 0 0 20px;
    padding: 0 10px;
    line-height: 1.5; 
  }
  
  .dialog-actions {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 0;
    padding-bottom: 10px;
  }
  
  .dialog-actions button {
    border: none;
    cursor: pointer;
    transition: box-shadow 0.3s ease, transform 0.2s;
    font-weight: bold;
    border-radius: 5px;
  }
  
  .cancel-button {
    background-color: #b0bec5;
    color: #ffffff;
    padding: 10px 20px;
  }
  
  .confirm-button {
    background-color: #d32f2f;
    color: #ffffff;
    padding: 10px 20px;
  }
  

  .dialog-actions button:hover {
    transform: translateY(-3px); 
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
  }
  
  .dialog-actions button:active {
    transform: translateY(1px); 
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  }
  
  /* Cambio de color en hover */
  .cancel-button:hover {
    background-color: #90a4ae;
  }
  
  .confirm-button:hover {
    background-color: #c62828;
    animation: pulse 1s infinite; 
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }
  