@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:wght@100;400&display=swap');

.custom-toolbar {
  font-family: 'Roboto condensed', serif;
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
  background-color: #1ABC9C;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.app-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #ffffff;
  margin-right: 20px;
}

.nav-item {
  position: relative;
  margin-left: 15px;
}

.nav-button {
  color: #ffffff;
  transition: color 0.3s, transform 0.3s;
}

.nav-button:hover {
  color: magenta;
  transform: scale(1.05);
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  z-index: 1000;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  min-width: 220px; /* Ajusta el ancho mínimo para el submenú */
  padding: 5px 0; /* Espaciado para separar los elementos */
}

.nav-item:hover .submenu {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.submenu-item {
  display: block;
  padding: 8px 15px;
  color: #333;
  text-decoration: none;
  transition: background-color 0.3s, padding-left 0.3s;
  font-size: 0.9rem;
  white-space: normal; /* Permite que el texto haga salto de línea */
  word-wrap: break-word; /* Divide el texto en palabras largas */
  line-height: 1.2; /* Ajusta la altura de línea para texto en varias líneas */
}

.submenu-item:hover {
  background-color: #f0f0f0;
  padding-left: 20px;
}

.right-menu {
  margin-left: auto; 
  display: flex;
  align-items: center;
}
