<mat-toolbar class="custom-toolbar">
  <mat-icon>menu</mat-icon>
  <div>
    <button mat-button [matMenuTriggerFor]="menuStyleCheck" style="color: rgb(0, 0, 0)">
      Formas
    </button>
  </div>
</mat-toolbar>

<mat-menu #menuStyleCheck="matMenu">
  <button mat-menu-item routerLink="/formas" class="custom-menu-item">
    Listar formas
  </button>
  <button mat-menu-item routerLink="/formas/nuevo" class="custom-menu-item">
    Registrar formas
  </button>
  <button mat-menu-item routerLink="/roles" class="custom-menu-item">
    Listar rol
  </button>
  <button mat-menu-item routerLink="/roles/nuevo" class="custom-menu-item">
    Registrar rol
  </button>

  <button mat-menu-item routerLink="/tipos" class="custom-menu-item">
    Listar tipos
  </button>
  <button mat-menu-item routerLink="/tipos/nuevo" class="custom-menu-item">
    Registrar tipos
  </button>
  
</mat-menu>
<router-outlet></router-outlet>
