<!--<mat-toolbar color="primary" class="custom-toolbar">
  <span class="app-title">StyleCheck</span>
  <div class="nav-item">
    <button mat-button class="nav-button">
      <mat-icon>category</mat-icon>Formas
    </button>
    <div class="submenu">
      <a routerLink="/formas" class="submenu-item">Listar Formas</a>
      <a routerLink="/formas/nuevo" class="submenu-item">Registrar Formas</a>
    </div>
  </div>
  <div class="nav-item">
    <button mat-button class="nav-button">
      <mat-icon>shield</mat-icon>Roles
    </button>
    <div class="submenu">
      <a routerLink="/roles" class="submenu-item">Listar Roles</a>
      <a routerLink="/roles/nuevo" class="submenu-item">Registrar Roles</a>
    </div>
  </div>
  <div class="nav-item">
    <button mat-button class="nav-button">
      <mat-icon>title</mat-icon>Tipos
    </button>
    <div class="submenu">
      <a routerLink="/tipos" class="submenu-item">Listar Tipos</a>
      <a routerLink="/tipos/nuevo" class="submenu-item">Registrar Tipos</a>
    </div>
  </div>
  <div class="nav-item">
    <button mat-button class="nav-button">
      <mat-icon>face</mat-icon>Rostros
    </button>
    <div class="submenu">
      <a routerLink="/rostros" class="submenu-item">Listar Rostros</a>
      <a routerLink="/rostros/nuevo" class="submenu-item">Registrar Rostros</a>
    </div>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>BackendStyleCheck</title>
  </head>
  <body>
    <header>
      <div class="navbar">
        <div class="logo">
          <a routerLink=""
            ><img src="../assets/headerlogo.png" alt="StyleCheck"
          /></a>
        </div>
        <ul class="links">
          <li><a routerLink="/webcam">Guia de uso</a></li>
          <li>
            <a routerLink="/Estilos"
              >Explora estilos</a
            >
          </li>
          <li>
            <a routerLink="/Asesoramiento">Asesoramiento</a>
          </li>
          <li><a routerLink="/Conocenos">Conocenos</a></li>
        </ul>
        <a routerLink="/login" class="action_btn">Iniciar sesion</a>
        <div class="toggle_btn">
          <i class="fa-solid fa-bars"></i>
        </div>
      </div>
      <div class="dropdown_menu">
        <li><a routerLink="/webcam">Escanea tu rostro</a></li>
        <li><a href="Explora_Estilos/index.html">Explora estilos</a></li>
        <li>
          <a href="Explora_Estilos/Asesoramiento/index.html">Asesoramiento</a>
        </li>
        <li><a href="Historial/index.html">Historial de estilos</a></li>
        <li><a href="Historial/index.html" class="action_btn">Empezar</a></li>
      </div>
    </header>

    <router-outlet></router-outlet>

    <footer>
      <div class="content-sr">
        <div class="cont-1">
          <div class="footer-section">
            <h4>Lenguaje</h4>
            <select name="language" class="combobox border_hover">
              <option value="spanish" selected>Español</option>
              <option value="english">Inglés</option>
            </select>
            <br />
            <h4>Redes Sociales</h4>
            <div class="footer-social">
              <ul>
                <li>
                  <a href="https://facebook.com"
                    ><i class="fa-brands fa-facebook-f"></i
                  ></a>
                </li>
                <li>
                  <a href="https://twitter.com"
                    ><i class="fa-brands fa-x-twitter"></i
                  ></a>
                </li>
                <li>
                  <a href="https://instagram.com"
                    ><i class="fa-brands fa-instagram"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="footer-section">
            <a href="#" class="footer-title"><h4>Inicio</h4></a>
            <ul>
              <li><a href="index.html#home" class="footer-item">CTA</a></li>
              <li>
                <a href="index.html#characteristics" class="footer-item"
                  >Nuestros Servicios</a
                >
              </li>
              <li>
                <a href="index.html#targets" class="footer-item">Segmentos</a>
              </li>
              <li>
                <a href="index.html#testimonials" class="footer-item"
                  >Testimonios</a
                >
              </li>
              <li><a href="index.html#plans" class="footer-item">Planes</a></li>
            </ul>
          </div>
          <div class="footer-section">
            <a href="#" class="footer-title"><h4>Nosotros</h4></a>
            <ul>
              <li>
                <a href="about_us.html#resume" class="footer-item">Resumen</a>
              </li>
              <li><a href="about_us.html#vac" class="footer-item">Valores</a></li>
              <li>
                <a href="about_us.html#dev" class="footer-item">Desarrolladores</a>
              </li>
            </ul>
          </div>
          <div class="footer-section">
            <a href="#" class="footer-title"><h4>Contacto</h4></a>
            <ul>
              <li>
                <a href="contact.html#formcontact" class="footer-item"
                  >Formulario</a
                >
              </li>
              <li>
                <a href="contact.html#socialmedia" class="footer-item"
                  >Redes Sociales</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="cont-2">
          <div class="footer-copy">
            <p>
              &copy; 2024 Los Estilistas. Todos los derechos reservados al startup
              StyleCheck
            </p>
          </div>
        </div>
      </div>
    </footer>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script src="../assets/js/scriptmenu.js"></script>
  </body>
</html>
