<mat-toolbar class="custom-toolbar">
  <mat-icon>menu</mat-icon>
  <div>
    <button mat-button [matMenuTriggerFor]="menuStyleCheck" style="color: rgb(0, 0, 0)">
      Formas
    </button>
  </div>
</mat-toolbar>

<mat-menu #menuStyleCheck="matMenu">
  <button mat-menu-item routerLink="/formas" class="custom-menu-item">
    Listar
  </button>
  <button mat-menu-item routerLink="/formas/nuevo" class="custom-menu-item">
    Registrar
  </button>
  <button mat-menu-item routerLink="/roles" class="custom-menu-item">
    Listar rol
  </button>
  <button mat-menu-item routerLink="/roles/nuevo" class="custom-menu-item">
    Registrar rol
  </button>
  <button mat-menu-item routerLink="/EstiloUsuarios" class="custom-menu-item">
    Listar Estilo Usuarios
  </button>
  <button mat-menu-item routerLink="/EstiloUsuarios/nuevo" class="custom-menu-item">
    Registrar Estilo Usuarios
  </button>
  
</mat-menu>
<router-outlet></router-outlet>
