<div>
  <div style="text-align: center">
    <h1 class="chart-title">Ítems Más Usados por Usuarios</h1>
  </div>

  <div *ngIf="noDataMessage; else chartContent" class="no-data-message">
    {{ noDataMessage }}
  </div>

  <ng-template #chartContent>
    <div class="chart-container" style="text-align: center">
      <canvas
        baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [legend]="true"
        [type]="barChartType"
      >
      </canvas>
    </div>
  </ng-template>
</div>
