@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:wght@100;400&display=swap');

.chart-container {
  width: 80%; 
  margin: 0 auto; 
  padding: 20px;
  box-sizing: border-box;
  background-color: #f9f9f9;
  border: 1px solid #ddd; 
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

@media (max-width: 768px) {
  .chart-container {
    width: 60%;
    padding: 15px;
  }
}
.no-data-message {
  text-align: center;
  font-size: 18px;
  color: #95A5A6;
  margin-top: 20px;
  font-weight: bold;
}

h1 {
  color: #2C3E50; 
  font-size: 2.4em; 
  text-align: center;
  margin-bottom: 0.5em;
  font-weight: bold;
}

.title-container {
  text-align: center;
  margin-bottom: 30px; 
  margin-top: 20px; 
}
