<div class="container" style="text-align: center">
  <div style="margin: 5%">
    <h1>Registro de Items</h1>
  </div>
  <div>
    <form [formGroup]="form" (submit)="insertar()">
      <!-- Código -->
      <div class="form-row">
        <div class="form-column">
          <mat-form-field class="example-full-width" *ngIf="edicion">
            <mat-label>Código</mat-label>
            <input matInput formControlName="hcodigo" />
          </mat-form-field>
        </div>
              <!-- Nombre del Item -->
      <div class="form-column">
        <mat-form-field class="example-full-width">
          <mat-label>Nombre del Item</mat-label>
          <input matInput formControlName="hnombre" />
          <mat-error *ngIf="form.get('hnombre')?.hasError('required')">
            El campo de Nombre es obligatorio
          </mat-error>
          <mat-error *ngIf="form.get('hnombre')?.hasError('pattern')">
            Solo se permiten letras
          </mat-error>
        </mat-form-field>
      </div>
      </div>

      <!-- Tipos -->
      <div class="form-row">
        <div class="form-column">
          <mat-form-field class="example-full-width">
            <mat-label>Tipos</mat-label>
            <mat-select [disabled]="edicion" formControlName="htipo">
              <mat-option *ngFor="let food of listaTipos" [value]="food.idTipo">
                {{ food.nombreTipo }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('htipo')?.hasError('required')">
              Seleccione un Tipo
            </mat-error>
          </mat-form-field>
        </div>
              <!-- Descripción -->
      <div class="form-column">
        <mat-form-field>
          <mat-label>Descripción</mat-label>
          <input matInput [disabled]="edicion" formControlName="hdescripcion" />
          <mat-error *ngIf="form.get('hdescripcion')?.hasError('required')">
            Ingrese una descripcion
          </mat-error>
          <mat-error *ngIf="form.get('hdescripcion')?.hasError('pattern')">
            Solo se permiten letras
          </mat-error>
        </mat-form-field>
      </div>
      </div>


      <!-- Calificación -->
      <div class="form-row">
        <div class="form-column">
          <mat-form-field class="example-full-width">
            <mat-label>Calificación</mat-label>
            <input matInput [disabled]="edicion" formControlName="hcalificacion" />
            <mat-error *ngIf="form.get('hcalificacion')?.hasError('required')">
              Ingrese una Calificación
            </mat-error>
            <mat-error *ngIf="form.get('hcalificacion')?.hasError('pattern')">
              Solo se permiten números
            </mat-error>
          </mat-form-field>
        </div>
        
      <!-- Nro° de usos -->
      <div class="form-column">
        <mat-form-field>
          <mat-label>Nro° de usos</mat-label>
          <input matInput formControlName="husos" />
          <mat-error *ngIf="form.get('husos')?.hasError('required')">
            Ingrese el Número de Usos
          </mat-error>
          <mat-error *ngIf="form.get('husos')?.hasError('pattern')">
            Solo se permiten números
          </mat-error>
        </mat-form-field>
      </div>
      </div>

      <!-- Imagen -->
      <div class="form-row">
        <div class="form-column">
          <mat-form-field appearance="fill">
            <mat-label>Selecciona una imagen</mat-label>
            <mat-select formControlName="himagen" class="custom-select">
              <mat-option *ngFor="let imagen of imagenes" [value]="imagen">
                <img [src]="'assets/items/' + imagen" alt="Imagen" class="avatar-option">
                {{ imagen.split('.')[0] }} <!-- Mostrar el nombre de la imagen -->
              </mat-option>
            </mat-select>
          </mat-form-field>

        </div>
      </div>

      <!-- Botones -->
      <div class="buttons">
        <button mat-flat-button class="custom-button" (click)="cancel()">
          Cancelar
        </button>
        <button mat-flat-button class="custom-button">Registrar</button>
      </div>
    </form>
  </div>
</div>
