<div>
  <h1 class="chart-title">
    Combinaciones Populares de Formas de Rostro y Colores de Estilo
  </h1>

  <div *ngIf="noDataMessage; else chartContent" class="no-data-message">
    {{ noDataMessage }}
  </div>

  <ng-template #chartContent>
    <div class="chart-container" style="text-align: center">
      <canvas
        baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [legend]="barChartLegend"
        [type]="barChartType"
      >
      </canvas>
    </div>
  </ng-template>
</div>
