
@media (max-width: 768px) {
  .chart-container {
    width: 60%;
    padding: 15px;
  }
}

.no-data-message {
  text-align: center;
  font-size: 10px;
  color: #95A5A6;
  margin-top: 20px;
  font-weight: bold;
}
h1 {
  font-size: 1em;
  color: #2C3E50; 
  font-size: 2.4em; 
  text-align: center;
  margin-bottom: 0.5em;
  font-weight: bold;
}

.title-container {
  text-align: center;
  margin-bottom: 30px; 
  margin-top: 20px; 
}
@media (max-width: 768px) {
  h1 {
    font-size: 1.5em;
  }

  .no-data-message {
    font-size: 7px;
  }
}
