@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background-color: #f4f6f8;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  animation: fadeIn 0.5s ease-in-out;
  overflow-x: hidden; 
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

h1 {
  font-size: 3em;
  color: #007bff;
  font-family: "Roboto", cursive;
}

.logout-button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.logout-button:hover {
  background-color: #0056b3;
  transform: rotate(-5deg);
}

.search-container {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
  width: 100%;
}

.input-container {
  position: relative;
  flex: 1;
}

.search-input {
  padding: 10px 10px 10px 40px;
  width: 85%;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: box-shadow 0.3s ease;
}

.search-input:focus {
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #aaa;
  pointer-events: none;
}

.add-button{
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-left: auto;
  margin-right: 10px; 
}

.search-button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.add-button:hover,
.search-button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.table-container {
  overflow-x: auto;
  max-width: 100%; /* Asegurar que la tabla no desborde el contenedor */
}

table {
  width: 100%;
  border-collapse: collapse;
  animation: fadeIn 0.5s ease-in-out;
}

th {
  background-color: #007bff;
  color: white;
  color: rgb(0, 0, 0);
  font-weight: bold;
  padding: 10px;
  text-align: left;
  font-size: 1.1em;
}

td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  font-size: 1em;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #e0f7fa;
  cursor: pointer;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1); /* Efecto sombra en lugar de escalar */
}

.mat-elevation-z8 {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
}

.table-header {
  text-align: center;
  color: black;
}

.table-cell {
  text-align: center;
}

.actions-cell {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.edit-button,
.delete-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.edit-button mat-icon {
  color: #28a745;
  transition: transform 0.3s ease;
}

.edit-button:hover mat-icon {
  transform: scale(1.2);
}

.delete-button mat-icon {
  color: #dc3545;
  transition: transform 0.3s ease;
}

.delete-button:hover mat-icon {
  transform: scale(1.2);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.save-button {
  background-color: #007bff;
  color: white;
  color: rgb(199, 25, 25);
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.save-button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}
