<div class="container">
  <header class="header">
    <h1>Lista de Formas</h1>
    <button class="add-button">
      <mat-icon>add_circle</mat-icon> Agregar Forma
    </button>
    <button class="logout-button">
      <mat-icon>logout</mat-icon> Salir
    </button>
  </header>
  <div class="search-container">
    <div class="input-container">
      <mat-icon class="search-icon">search</mat-icon>
      <input type="text" placeholder="Ingresa id o nombre" class="search-input">
    </div>
    <button class="search-button">
      <mat-icon>search</mat-icon> Buscar Forma por Id
    </button>
    <button class="search-button">
      <mat-icon>search</mat-icon> Buscar Forma por Nombre
    </button>
  </div>

  <div class="table-container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="c1">
        <th mat-header-cell *matHeaderCellDef class="table-header">Código</th>
        <td mat-cell *matCellDef="let element" class="table-cell">
          {{ element.idForma }}
        </td>
      </ng-container>

      <ng-container matColumnDef="c2">
        <th mat-header-cell *matHeaderCellDef class="table-header">Nombre de la Forma</th>
        <td mat-cell *matCellDef="let element" class="table-cell">
          {{ element.nombreForma }}
        </td>
      </ng-container>

      <ng-container matColumnDef="c3">
        <th mat-header-cell *matHeaderCellDef class="table-header">Descripcion de la Forma</th>
        <td mat-cell *matCellDef="let element" class="table-cell">
          {{ element.descripcionForma }}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="table-header">Acciones</th>
        <td mat-cell *matCellDef="let element" class="table-cell actions-cell">
          <button class="edit-button">
            <mat-icon>edit</mat-icon>
          </button>
          <button class="delete-button">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['c1', 'c2', 'c3', 'actions']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['c1', 'c2', 'c3', 'actions']"></tr>
    </table>
  </div>
</div>
