<div>
  <div class="title-container">
    <h1>Cantidad de comentarios negativos según palabras claves</h1>
  </div>

  <div *ngIf="noDataMessage; else chartContent" class="no-data-message">
    {{ noDataMessage }}
  </div>

  <ng-template #chartContent>
    <div class="chart-container">
      <canvas
        baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [legend]="barChartLegend"
        [type]="barChartType"
      >
      </canvas>
    </div>
  </ng-template>
</div>
