<div class="container" style="text-align: center; margin: 5%">
    <div><h1>Registro de Estilos por Usuario</h1></div>
    <div>
      <form [formGroup]="form" (submit)="insertar()">
        <mat-form-field class="example-full-width" *ngIf="edicion">
          <mat-label>Código</mat-label>
          <input matInput formControlName="hcodigo" />
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Fecha </mat-label>
            <input matInput [matDatepicker]="picker"  formControlName="hfecha" />
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="form.get('hfecha')?.hasError('required')"
            >La fecha es obligatoria</mat-error
          >
          </mat-form-field>
          <br>

        <mat-form-field class="example-full-width">
            <mat-label>Calificacion </mat-label>
            <input matInput placeholder="Calificacion" formControlName="hcalificacion" />
            <mat-error *ngIf="form.get('hcalificacion')?.hasError('required')"
            >Debe de ingresar la Calificacion</mat-error
          >
          </mat-form-field>
          <br>

          <mat-form-field>
            <mat-label>Usuarios</mat-label>
            <mat-select  formControlName="husuario">
              @for (food of listausuarios; track food) {
              <mat-option [value]="food.idUsuario">{{ food.username }}</mat-option>
              }
            </mat-select>
            <mat-error *ngIf="form.get('husuario')?.hasError('required')"
          >Seleccione un Usuario</mat-error
        >
          </mat-form-field>

          <br>
         <mat-form-field>
                <mat-label>Estilos</mat-label>
                <mat-select  formControlName="hestilo">
                  @for (food of listaestilos; track food) {
                  <mat-option [value]="food.idEstilo">{{ food.nombre}}</mat-option>
                  }
                </mat-select>
                <mat-error *ngIf="form.get('hestilo')?.hasError('required')"
                >Seleccione un Estilo </mat-error
              >
              </mat-form-field>
              <br>
        <div class="buttons">
          <button mat-flat-button class="custom-button" (click)="cancel()">
            Cancelar
          </button>
          <button mat-flat-button class="custom-button">Registrar</button>
        </div>
    </form>
    </div>
  </div>
  
